

.home-page {
    max-width: 1440px;
    margin: 0 auto;
}

.home-page .home-content {
    display: flex;
    align-items: stretch;
    padding: 20px;
    margin: 0 auto;
}

.home-page .blog-posts {
    width: 70%;
}